<h1>Admin Application Review</h1>

<p><b>Applicant Name:</b> <%= @application.name %></p>
<p><b>Address:</b> <%= @application.street_address %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p><b>Description:</b> <%= @application.description %></p>
<p><b>Status:</b> <%= @application.status %></p>
<br>
<h3>Pets to approve or deny</h3>

<% @all_pets.each.with_index do |pet, index| %>
  <% if @approved_pets.include?(pet) %>
    <div id="pet-<%= pet.id %>"
      <p>
        <b><%= (index + 1) %>. <%= pet.name %></b> - APPROVED
      </p>
    </div>
  <% elsif @denied_pets.include?(pet) %>
    <div id="pet-<%= pet.id %>"
      <p>
        <b><%= (index + 1) %>. <%= pet.name %></b> - DENIED
      </p>
    </div>
  <% else %>
    <div id="pet-<%= pet.id %>"
      <p>
        <b><%= (index + 1) %>. <%= pet.name %></b>
        <%= button_to "Approve #{pet.name}", "/admin/pet_applications/#{@application.id}", method: :patch, params: { pet: pet.id, status: 'approved' }%>
        <%= button_to "Deny #{pet.name}", "/admin/pet_applications/#{@application.id}", method: :patch, params: { pet: pet.id, status: 'denied' }%>
      </p>
    </div>
  <% end %>
<% end %>
